<div>
    I'm home page;
    <div my-name="nameInfo"></div>
    {{nameInfo}}
    <input type="button" value="click me" ng-click="testConsole()" />
    <br>
    <!--
    <h4>=============dirctives=====当作属性使用===============>>>>>>>>>>>>>>>>>>>>>>>></h4>
    <div unordered-list="products" list-property="price | currency"></div>
    <h4>=============dirctives=====当作元素使用===============>>>>>>>>>>>>>>>>>>>>>>>></h4>
    <unordered-list list-source="products" list-property="price | currency"></unordered-list>
    <h4>=============dirctives=====当作类的属性使用===========>>>>>>>>>>>>>>>>>>>>>>>></h4>
    <div class="unordered-list:products" list-property="price | currency"></div>
    -->
    <!--
    <h4>=============dirctive=====使用模板、属性===============>>>>>>>>>>>>>>>>>>>>>>>></h4>
    <div unordered-list="products" style="height: 100px;width: 100px;background-color: yellow;">
        This is where the list will go
    </div>
    -->
    <h4>=============dirctive=====添加作用域===============>>>>>>>>>>>>>>>>>>>>>>>></h4>
    <input ng-model="products">
    <div unordered-list order-infos="products" style="height: 100px;width: 200px;background-color: red;">
        This is where the list will go
    </div>

    <div unordered-list order-infos="products2" style="height: 100px;width: 200px;background-color: red;">
        This is where the list will go
    </div>
</div>